@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: #14171A;
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
}

.bold {
  font-weight: bold;
}

.weight-400 {
  font-weight: 400;
}

.weight-700 {
  font-weight: 700;
}

.weight-900 {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.yellow-background {
  background-color: #FFFC00;
}

.dark-gray-background {
  background-color: #657786;
}

.black-background {
  background-color: #14171A;
}

.color-extra-extra-light-gray {
  color: #F5F8FA;
}

.color-extra-light-gray {
  color: #E1E8ED;
}

.extra-light-gray-background {
  background-color: #E1E8ED;
}

.active {
  color: #657786 !important;
}

.button {
  border: 1px solid #14171A;
  padding: 1rem 3rem;
  font-size: 0.9rem;
}

.button:hover {
  color: #F5F8FA;
  background-color: #14171A;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.background-yellow {
  height: 30vh;
  padding: 4rem 4rem;
}

.background-yellow p {
  font-size: 3rem;
}

.background-yellow p::after {
  content: '';
  background: #FFFC00;
  width: 50rem;
  height: 9rem;
  position: absolute;
  left: 0;
  margin-top: 2rem;
  z-index: -1;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 14vh;
  background-color: #F5F8FA;
}

nav .logo {
  color: #14171A;
  letter-spacing: 3px;
}

nav .logo a p {
  font-size: 1rem;
  line-height: 0.5rem;
}

nav .logo .logo-text1 {
  padding-bottom: 1rem;
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30%;
}

nav .nav-links li {
  list-style: none;
}

nav .nav-links a {
  color: #14171A;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 1rem;
}

nav .nav-links a:hover {
  color: #657786;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

nav .burger {
  display: none;
}

nav .burger div {
  width: 25px;
  height: 3px;
  background-color: #14171A;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.presentation-text01 {
  padding-top: 7rem;
  width: 50%;
  text-align: left;
  display: block;
  margin: auto;
  line-height: 1.8;
  font-size: 1rem;
}

.presentation-text01 .summary {
  font-size: 3rem;
}

.skills {
  margin: 3rem;
}

.skills .skills-words {
  padding: 2rem;
  text-align: center;
  width: 70%;
  margin: auto;
}

.skills p {
  display: inline-block;
  font-size: 1.4rem;
  padding: 1rem;
  margin: 1rem;
}

.work-experiences,
.education,
.interests {
  width: 50%;
  margin: auto;
  padding-top: 5rem;
}

.work-experiences .work-exp,
.work-experiences .edu,
.education .work-exp,
.education .edu,
.interests .work-exp,
.interests .edu {
  padding-bottom: 2rem;
}

.work-experiences .work-exp h4,
.work-experiences .edu h4,
.education .work-exp h4,
.education .edu h4,
.interests .work-exp h4,
.interests .edu h4 {
  padding-bottom: 1rem;
}

.interests {
  padding: 6rem 0;
}

footer {
  background-color: #14171A;
  width: 100%;
  color: #F5F8FA;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding: 1rem 5rem;
}

.main-footer .footer-social i {
  padding: 1rem;
}

.main-footer .footer-social i:hover {
  color: #657786;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 50% !important;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  body .nav-links {
    width: 60% !important;
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background-color: #F5F8FA;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translate(100%);
            transform: translate(100%);
    opacity: 0.9;
  }
  body .nav-links li {
    opacity: 0;
  }
  body .burger {
    display: block;
    cursor: pointer;
  }
  body .nav-active {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
  .presentation-text01 {
    padding-top: 7rem;
    width: 80%;
    text-align: left;
    display: block;
    margin: auto;
    line-height: 1.5;
    font-size: 1rem;
  }
  .presentation-text01 .summary {
    font-size: 2rem;
    text-align: left;
  }
  .skills {
    width: 100%;
    margin: auto;
    padding-top: 2.5rem;
  }
  .skills-words {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .skills-words p {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 21%;
            flex: 1 0 21%;
    /* explanation below */
    margin: 10px 10px;
    height: 100px;
    text-align: center;
  }
  .work-experiences {
    margin-top: 5rem;
  }
  .main-footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-footer .footer-text p {
    font-size: 0.9rem;
  }
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}
/*# sourceMappingURL=cv.css.map */