@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

// Variables

$extra-extra-light-gray:#F5F8FA;
$extra-light-gray:#E1E8ED;
$light-gray:#AAB8C2;
$dark-gray:#657786;
$black:#14171A;
$blue:#1DA1F2;
$yellow:#FFFC00;

// Reset

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// Global

body,
html {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: $black;
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style: none;
}

// Classes

.bold {
    font-weight: bold;
}

.weight-400 {
    font-weight: 400;
}

.weight-700 {
    font-weight: 700;
}

.weight-900 {
    font-weight: 900;
}

.italic {
    font-style: italic;
}

.yellow-background {
    background-color: $yellow;
}

.dark-gray-background {
    background-color: $dark-gray;
}

.black-background {
    background-color: $black;
}

.color-extra-extra-light-gray {
    color: $extra-extra-light-gray;
}

.color-extra-light-gray {
    color: $extra-light-gray;
}

.extra-light-gray-background {
    background-color: $extra-light-gray;
}

.active {
    color: $dark-gray !important;
}

.button {
    border: 1px solid $black;
    padding: 1rem 3rem;
    font-size: 0.9rem;

    &:hover {
        color: $extra-extra-light-gray;
        background-color: $black;
        transition: 0.3s ease;
    }
}

.background-yellow {
    height: 30vh;
    padding: 4rem 4rem;

    p {
        font-size: 3rem;
    }
}

.background-yellow p::after {
    content: '';
    background: $yellow;
    width: 50rem;
    height: 9rem;
    position: absolute;
    left: 0;
    margin-top: 2rem;
    z-index: -1;
}

// Navbar

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 14vh;
    background-color: $extra-extra-light-gray;

    .logo {
        color: $black;
        letter-spacing: 3px;

        a {
            p {
                font-size: 1rem;
                line-height: 0.5rem;
            }
        }

        .logo-text1 {
            padding-bottom: 1rem;
        }
    }

    .nav-links {
        display: flex;
        justify-content: space-around;
        width: 30%;

        li {
            list-style: none;
        }

        a {
            color: $black;
            text-decoration: none;
            letter-spacing: 3px;
            font-size: 1rem;

            &:hover {
                color: $dark-gray;
                transition: 1s ease;
            }
        }
    }

    .burger {
        display: none;

        div {
            width: 25px;
            height: 3px;
            background-color: $black;
            margin: 5px;
            transition: all 0.3s ease;
        }
    }
}

// Section Presentation

.presentation-text01 {
    padding-top: 7rem;
    width: 50%;
    text-align: left;
    display: block;
    margin: auto;
    line-height: 1.8;
    font-size: 1rem;

    .summary {
        font-size: 3rem;
    }
}

// Section Skills

.skills {
    margin: 3rem;

    .skills-words {
        padding: 2rem;
        text-align: center;
        width: 70%;
        margin: auto;
    }

    p {
        display: inline-block;
        font-size: 1.4rem;
        padding: 1rem;
        margin: 1rem;
    }
}

// Section Work Experience

.work-experiences,
.education,
.interests {
    width: 50%;
    margin: auto;
    padding-top: 5rem;

    .work-exp,
    .edu {
        padding-bottom: 2rem;

        h4 {
            padding-bottom: 1rem;
        }
    }
}

// Interests

.interests {
    padding: 6rem 0;
}

// Footer

footer {
    background-color: $black;
    width: 100%;
    color: $extra-extra-light-gray;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 1rem 5rem;

    .footer-social {
        i {
            padding: 1rem;

            &:hover {
                color: $dark-gray;
                transition: 1s ease;
                cursor: pointer;
            }
        }
    }
}

// Media Query

@media screen and (max-width:1024px) {
    .nav-links {
        width: 50% !important;
    }
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;

        .nav-links {
            width: 60% !important;
            position: absolute;
            right: 0;
            height: 92vh;
            top: 8vh;
            background-color: $extra-extra-light-gray;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            transform: translate(100%);
            opacity: 0.9;
            // transition: transform 0.5s ease-in;

            li {
                opacity: 0;
            }
        }

        .burger {
            display: block;
            cursor: pointer;
        }

        .nav-active {
            transform: translate(0%);
        }
    }

    // Presentation
    .presentation-text01 {
        padding-top: 7rem;
        width: 80%;
        text-align: left;
        display: block;
        margin: auto;
        line-height: 1.5;
        font-size: 1rem;

        .summary {
            font-size: 2rem;
            text-align: left;
        }
    }

    // Section Skills

    .skills {
        width: 100%;
        margin: auto;
        padding-top: 2.5rem;
    }

    .skills-words {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;


        p {
            flex: 1 0 21%;
            /* explanation below */
            margin: 10px 10px;
            height: 100px;
            text-align: center;
        }

    }

    // Work Experiences

    .work-experiences {
        margin-top: 5rem;
    }





    // Footer
    .main-footer {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        text-align: center;
        align-items: center;
        justify-content: center;

        .footer-text {
            p {
                font-size: 0.9rem;
            }
        }
    }
}


@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}